#site-header{
    background-color: white;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    font: italic small-caps bold 22px/30px Georgia, serif;
    text-decoration: none;
}
.navButtons a{
    text-decoration: none !important;
    color: #0fa991;
}
.eDiary-text{
    display: inline-block;
    margin-right: 10%;
    text-align: center;
    color: #0fa991;
    
    
}
.navButtons {
    color: #0fa991;
    background: #ffffff;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    border-right: 1px solid lightgrey;
    display: inline-block;
    transition: all 0.3s ease 0s;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    padding-top: 15px;
    

}

.navButtons:hover{
    border-top: 4px solid #20bf6b;
    border-bottom: 4px solid #20bf6b;
    transition: all 0.3s ease 0s;
}

